@model IEnumerable<Garage3.Models.Entities.VehicleType>

@{
    ViewData["Title"] = "index";
}

<h1>Vehicle Types</h1>
@if (@TempData["Message"] != null)
{
    <div role="alert" class="alert alert-success alert-dismissible ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["Message"]
    </div>
}

<table data-toggle="table"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-sort-order="desc"
       data-pagination="true"
       data-page-list="[10, 20,30, ALL]"
       data-page-size="20">
    <thead class="thead-dark">
        <tr>
            <th class="border-0  " data-sortable="true">@Html.DisplayNameFor(model => model.Type)</th>
            <th class="border-0  " data-sortable="true">@Html.DisplayNameFor(model => model.Size)</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Size)</td>
            </tr>
        }
    </tbody>
</table>