@model Garage3.Models.ViewModels.Vehicles.LeaveViewModel

@{
    ViewData["Title"] = "Leave";
}

<h1>Leave</h1>

<h3>Are you sure that following @Html.DisplayFor(model => model.Type) is going to leave the parking permanentely?</h3>
<h5 class="text-danger">NOTE: This will unregister the @Html.DisplayFor(model => model.Type) from the garage!</h5>
<div>
    <hr />
    <h5>Additional Information</h5>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberFullName)
        </dd>
    </dl>

    <form asp-action="Leave">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Leave" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>